.hidden {
  display: none;
}

.table tr {
  border-bottom: 0.5em;
}

header.jumbotron {
  background-image: url(asset-path('amazong.jpg'));
  color: white;
}

header.jumbotron a {
  color: white;
  text-decoration: none;
  text-align: center;
  text-shadow: 3px 3px black;
  font-weight: bold;
}

header.jumbotron h1 {
  font-size: 8em;
}

.jumboton input {
  font-size: 1.5em;
}

.jumbotron input {
  margin-top: 1em;
}

.project_url {
  vertical-align: middle;
  margin-right: 0.5em
}

.project_budget {
  vertical-align: middle;
  margin-right: 0.5em
}

.project_url {
  color: black;
}

.project_budget {
  color: black;
}

.glyphicon-arrow-down {
  color: green;
}

.glyphicon-arrow-up {
  color: red;
}

.glyphicon-minus {
  color: grey;
}

.current_price .glyphicon {
  margin-left: 0.5em;
}